:host{
  display: flex;
  overflow-x: auto;
}
.container{
  background-color: #fff;
  padding: 2px 0;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  display: grid;
  place-content: stretch;
  place-items: center;
  grid-gap:0.4rem;
  grid-auto-flow: row;
  display: inherit;
}
