.container{
  position: relative;
  overflow: hidden;
  .image-slider{
    display: flex;
    overflow-x: scroll;
    height: 160px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .nav-section{
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0.5;
    color: #fff;
    background-color: #000;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    .nav-button{
      // display: flex;
      width: 10px;
      height: 10px;
      background-color: #fff;
      text-decoration: none;
      border-radius: 50%;
      margin-right: 5px;
    }
  }
}
